body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}
section{
    margin-bottom:150px;
    background-color: rgb(182, 206, 207);
    padding-bottom: 100px;
}
#title-section{
    margin-bottom:35px;
    text-align:center;
    background-color: rgb(42, 160, 175);
    padding: 10px;
    color:antiquewhite;
}
#title-sectionPrinc{
    margin-bottom:35px;
    text-align:center;
    background-color: rgb(11, 94, 105);
    padding: 10px;
    color: antiquewhite;
}
#titulo-reporte{
    margin-bottom:35px;
    text-align:center;
    padding: 10px;
    color: rgb(11, 94, 105);
}
label{
    margin-left: 15px;
    font-size: larger;
}
input{
    margin-left: 15px;
}
#main-header {
	background: rgb(42, 160, 175);
	color: white;
	height: 80px;
}	
#main-header a {
		color: white;
}
#crear-button{
    padding: 7px;
    font-size: larger;
    font-family: Helvetica;
    margin-top: 15px;
    margin-left: 100px;
    background: rgb(50, 141, 153);
    border-color: rgb(50, 141, 153);
    color: rgb(245, 233, 233);
}
#btn{
    padding: 7px;
    font-size: larger;
    font-family: Helvetica;
    margin-top: 15px;
    margin-left: 100px;
    background: rgb(50, 141, 153);
    border-color: rgb(50, 141, 153);
    color: rgb(245, 233, 233);
}
#buscar-button{
    padding: 7px;
    font-size: larger;
    font-family: Helvetica;
    margin-top: 15px;
    margin-left: 100px;
    background: rgb(50, 141, 153);
    border-color: rgb(50, 141, 153);
    color: rgb(245, 233, 233);
}
#report-btn{
    padding: 7px;
    font-size: larger;
    font-family: Helvetica;
    margin-top: 15px;
    margin-left: 100px;
    background: rgb(50, 141, 153);
    border-color: rgb(50, 141, 153);
    color: rgb(245, 233, 233);
}
#sort-by-date-btn{
    padding: 7px;
    font-size: larger;
    font-family: Helvetica;
    margin-top: 15px;
    margin-left: 100px;
    background: rgb(50, 141, 153);
    border-color: rgb(50, 141, 153);
    color: rgb(245, 233, 233);
}
#sort-by-sub-btn{
    padding: 7px;
    font-size: larger;
    font-family: Helvetica;
    margin-top: 15px;
    margin-left: 100px;
    background: rgb(50, 141, 153);
    border-color: rgb(50, 141, 153);
    color: rgb(245, 233, 233);
}
#no-Materia{
    background: rgb(151, 201, 207);
    padding: 12px;
}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}


#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}